* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
h1 {
    text-align: center;
    margin-top: 4rem;
}
header {
    outline: 1px solid white;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 4rem;
    padding: 5rem 2rem;
    border-radius: 2rem;
}
#inputWrapper {
    display: flex;
    flex-direction: column;
}
#btnWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
} 
#btnWrapper button {
    padding: 0.4rem 1rem;
    background-color: white;
    color: black;
    font-weight: 600;
}
input {
    outline: none;
    color: black;
    font-weight: 600;
}
label {
    text-align: center;
    position: relative;
    bottom: 0.4rem;
}
p {
    text-align: center;
}